
<html lang="en">

    <%- include('../partials/head.ejs') %>
    
    <body>
    <h1>Home</h1>
    
    <%- include('../partials/nav.ejs') %>
    <div class="create-blog content">
    <form action="/blogs" method="post"> <!--acting attribute is where we want to send this form to, post is a request-->
        <label for="title">Blog Tilte:</label>
        <input type="text" id="title" name="title" required></input>
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required></input>
        <label for="body">Blog Body:</label>
        <textarea id="body"  name="body" required></textarea>
        <button>Submit</button>       

    </form>
    </div>  
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>