
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
    <body>
    <h1>Home</h1>
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
    <h2>About Us</h2>  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia totam numquam sequi cupiditate ad dicta inventore! Eaque deserunt, perferendis ipsa nam, ab ipsum ullam maiores obcaecati quo alias incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia totam numquam sequi cupiditate ad dicta inventore! Eaque deserunt, perferendis ipsa nam, ab ipsum ullam maiores obcaecati quo alias incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia totam numquam sequi cupiditate ad dicta inventore! Eaque deserunt, perferendis ipsa nam, ab ipsum ullam maiores obcaecati quo alias incidunt.</p>
    </div> 
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>